@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.form-content {
    width: fit-content;
    padding: 30px 40px;
}

.form-content div:not(.submit) {
    margin: 25px 0px;
    border-bottom: 3px solid white;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 6px 4px;
    color: white;
    font-size: 16px;
}

.submit button {
    border: none;
    outline: none;
    background-color: #cbde34;
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.cont {
    max-width: 700px;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
}
